<header class="site-header" role="banner">
    <!-- <div class="custom-header">
        <img src="{{ '/assets/images/EPPIcenter.png' | relative_url }}" alt="Logo">
    </div> -->
    <div class="custom-content">
        <a id="sismid" href="https://sismid.sph.emory.edu/" title="SISMID">SISMID</a> 
        <!-- <a id="ucsf" href="https://www.ucsf.edu/" title="UCSF">University of California San Francisco</a> 
        <a id="hividgm" href="https://hividgm.ucsf.edu/" title="HIVIDG">Division of HIV, Infectious Diseases and Global Medicine</a> -->
    </div>
    

    <!-- Existing navigation bar and other header elements -->
</header>
