---
layout: splash
---

<div class="content-container">
  <br>
  <br>
  <br>

  <p>
    The Müller lab is based at the University of California, San Francisco, in the <a href="https://hividgm.ucsf.edu">Division of HIV, Infectious Diseases, and Global Medicine</a>. We aim to use phylodynamics to quantify the transmission dynamics of bacterial and viral infectious diseases, ultimately to inform public health interventions. Learn more about our research <a href="/research/">here</a> and about our publications <a href="/publications/">here</a>.

    <br><br>
    The lab is a part of, and co-located with, the

    <br><br>

    <a href="https://eppicenter.ucsf.edu/"><img src="{{ '/assets/images/EPPIcenter.png' | relative_url }}" alt="EPPIcenter logo" style="display: block; margin-left: auto; margin-right: auto; width: 20%;"></a> 

  </p>
</div>
